body{
    margin: 0;
    background: #363543 url("Image/back.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 4000px;
    
}

section{
    width: 100%;
    height: 100vh;
    background: #363543 url("Image/back.png");
    background-position: center;
    background-repeat: no-repeat;
}

.kanan{
    padding-right: 96px;
    padding-top: 24px;
}

#mail{
    padding-left: 32px;
    padding-bottom: 4px;
}

#name-logo{
    position: absolute;
    top: 20px;
    padding-left: 8px;
    font-weight: bold;
    font-size: 20pt;

}

.kiri{
    padding-left: 96px;
    padding-top: 24px;
    height: 24px;
}

nav{ 
    width: 100%;
    height: 72px;
    background: #282834;
}

li {
    display: inline-block;
    padding: 26px 36px;
}

a{
    color: white;
    list-style: none;
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    height: 72px;
}


.frame1{
    padding-left: 96px;
    padding-top: 136px;
    padding-right: 96px;
    padding-bottom: 72px;
}
